<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ChapterOneName</string>
	<key>Pages</key>
	<array>
		<string>DataTypes.playgroundpage</string>
		<string>Strings.playgroundpage</string>
		<string>Functions.playgroundpage</string>
		<string>Closure.playgroundpage</string>
		<string>ConditionalStatements.playgroundpage</string>
		<string>Iteration.playgroundpage</string>
		<string>Enum.playgroundpage</string>
		<string>FunctionsWithParameters.playgroundpage</string>
		<string>ArrayOperations.playgroundpage</string>
		<string>2DArray.playgroundpage</string>
		<string>ScopeOfVariables.playgroundpage</string>
		<string>DictionaryOperations.playgroundpage</string>
		<string>Classes.playgroundpage</string>
		<string>Structures.playgroundpage</string>
		<string>Inheritance.playgroundpage</string>
		<string>Recursion.playgroundpage</string>
	</array>
</dict>
</plist>